<body>
    <header>
      <nav class="navbar">
        <h1>Trashmap</h1>

        <label>
          <input type="checkbox" />
          <div href="#" class="toggle-button">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
          </div>
        </label>

        <div class="navbar-links">
          <ul>
            <li class="parent">
              <a class="navbar-item" href="./index.html">HOME</a>
            </li>

            <li class="parent">
              <a class="navbar-item" href="./pages/about.html">ABOUT US</a>
            </li>

            <li class="parent">
              <a class="navbar-item" href="./pages/plan.html"
                >LOCATIONS</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>
