<section class="info">
	
	<h1>Contact details for services</h1>
      </section>
      <section class="cards-wrapper">
	<div class="card-grid-space">
	  <div class="num">westlands Area</div>
	  <a class="card"  style="--bg-img: url('./assets/img/pic6.jpg')">
	    <div>
		<h1>cleanhub services</h1>
		<p>Monthly fee:1200</p>
		<p>contact:07223456789</p>
		<h1>Greenlifeservices</h1>
		<p>Monthly fee:1200</p>
		<p>contact:0712345678</p>
	      <div class="date"></div>
	      <div class="tags">
		<div class="tag"></div>
	      </div>
	    </div>
	  </a>
	</div>
	<div class="card-grid-space">
	  <div class="num">Thikaroad Area</div>
	  <a class="card"  style="--bg-img: url('./assets/img/pic7.jpeg')">
	    <div>
		<h1> Garbage.com services</h1>
		<p>Monthly fee:1200</p>
		<p>contact:07223456789</p>
		<h1>Gm cleaner</h1>
		<p>Monthly fee:1200</p>
		<p>contact:0712345678</p>
	      <div class="date"></div>
	      <div class="tags">
		<div class="tag">HTML</div>
	      </div>
	    </div>
	  </a>
	</div>
	<div class="card-grid-space">
	  <div class="num">Langata/Nairobiwest</div>
	  <a class="card"  style="--bg-img: url(./assets/img/pic1.jpg)">
	    <div>
		<h1>Trail services</h1>
		<p>Monthly fee:1200</p>
		<p>contact:07223456789</p>
		<h1>Buzz services</h1>
		<p>Monthly fee:1200</p>
		<p>contact:0712345678</p>
	      <div class="date"></div>
	      <div class="tags">
		
	      </div>
	    </div>
	  </a>
	</div>
	<div class="card-grid-space">
		<div class="num">Riverside</div>
		<a class="card"  style="--bg-img: url('./assets/img/pic8.jpg')">
		  <div>
		    <h1>Flash services</h1>
		    <p>Monthly fee:1200</p>
		    <p>contact:07223456789</p>
		    <h1>Malisafi services</h1>
		    <p>Monthly fee:1200</p>
		    <p>contact:0712345678</p>
		    <div class="date"></div>
		    <div class="tags">
		      
		    </div>
		  </div>
		</a>
	      </div>
	
      </section>