<body>
  <section class="hero">
    <div class="container">
      <div class="hero__image"></div>
      <div class="hero__text container--pall">
        <h1>
          Garbage Collection
        </h1>
        <p>We are the leading provider of comprehensive waste management services, providing services that range from collection and disposal to recycling and renewable energy generation.</p>
        <a routerLink="/contact"  class="button hero__cta" style="color: white;">View contact details</a>
      </div>
    </div>
    
  </section>

  <section class="feature">
    
    <div class="feature__content container container--pall">
      <div class="feature__intro">
        <h2>Why choose us?</h2>
        <p>With us be sure your waste will be taken care of legally, environmentally and minimal disturbance to your business. You will access efficient, responsible and competitive services using the latest disposal technologies.</p>
      </div>
      <div class="feature__grid">
        <div class="feature__item">
          <div class="feature__icon"><img src="" alt=""></div>
          <div class="feature__title">
            Waste collection
          </div>
          <div class="feature__description">
            We have a strict Waste Management policy and continues to upgrade itself to more effective means of disposal of waste.
          </div>
        </div>
  
        <div class="feature__item">
          <div class="feature__icon"><img src="" alt=""></div>
          <div class="feature__title">
            Recycling Services
          </div>
          <div class="feature__description">
            Our long term vision is to put in place recycling as the foundation of our waste management model
          </div>
        </div>
  
        <div class="feature__item">
          <div class="feature__icon"><img src="" alt=""></div>
          <div class="feature__title">
            Environmental
          </div>
          <div class="feature__description">
            Our company has positioned itself as a NEMA registered Waste Collection Company for over 10 years. The company has grown further to introduce environmental consultancy services with proficient staff to operate a one stop hub where all Environmental Compliance requirements can be consulted from.
          </div>
        </div>
      </div>
    </div>
    

      
  </section>

  <section class="articles">
    <div class="article__content container container--pall">
      <h2>Our Locations</h2>

      <div class="article__grid">
        <a href="#" class="article__item">
          <div class="article__image" style="background-image: url(./assets/img/pic2.jpg);"></div>
          <div class="article__text">
            <div class="article__title">Westlands Area</div>
            <p></p>
            <div class="article__description"></div>
          </div>
        </a>

        <a href="#" class="article__item">
          <div class="article__image" style="background-image: url(./assets/img/pic3.jpg);"></div>
          <div class="article__text">
            <div class="article__author"></div>
            <div class="article__title">Nairobi West/Langata</div>
            <div class="article__description"></div>
          </div>
        </a>

        <a href="#" class="article__item">
          <div class="article__image" style="background-image: url('./assets/img/pic4.jpg');"></div>
          <div class="article__text">
            <div class="article__title">Riverside</div>
            <div class="article__description"></div>
          </div>
        </a>

        <a href="#" class="article__item">
          <div class="article__image" style="background-image: url('./assets/img/pic5.jpg');"></div>
          <div class="article__text">
            <div class="article__title">Thika road Area</div>
            <div class="article__description"></div>
          </div>
        </a>
      </div>
    </div>
  </section>

  

</body>

